@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background-color: bisque;
  width: 75%;
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 4px 4px 1em red;
  padding: 1em;
  margin: 1em 20%;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
    text-align: center;
    font-family: 'Baskervville', serif;
}

ul, ol {
  background: rgba(255, 0, 0, 0.123);
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  font-family: 'Raleway', sans-serif;
}

li {
    margin-left: 1em;
}